@model ParcialII.Models.Visitas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_vis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_vis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bg_vis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bg_vis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_vis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_vis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vis_motive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vis_motive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
