@model IEnumerable<Parcial_3.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adress_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_p)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adress_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_p)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonaID })
        </td>
    </tr>
}

</table>
